@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}




<div class="col">
    <div style=" margin-right: -69px;
        color: white;
        border: solid;
        border-style: none;
        padding: 91px;
        background-image: url(/images/backgrounds/logo6.png);
        background-size: cover;">

        <div>
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly"></div>

                @*<label asp-for="UserName" class="col-md-2 control-label">نام کاربری را وارد نمایید</label>
                <div class="col-md-4">
                    <input asp-for="UserName" class="form-control" placeholder="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <label asp-for="PhoneNumber" class="col-md-2 control-label">شماره تلفن</label>
                <div class="col-md-4">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Email" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <label asp-for="Password" class="col-md-2 control-label">شماره تلفن</label>
                <div class="col-md-4">
                    <input asp-for="Password" class="form-control" placeholder="Email" />
                    <s*@<!--pan asp-validation-for="Password" class="text-danger"></span>
                </div>-->
                <label asp-for="code" class="col-md-2 control-label">رمزعبور</label>
                <div class="col-md-4">
                    <input asp-for="code" class="form-control" placeholder="رمز عبور باید ترکیبی از حروف واعداد باشد" />
                    <span asp-validation-for="code" class="text-danger"></span>
                </div>

                @*<label asp-for="ConfirmPassword" class="col-md-2 control-label">تکراررمزعبور</label>
        <div class="col-md-4">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Repassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>*@

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style=" margin: 19px;">ثبت نام</button>
                </div>
            </form>
    </div>



       

    </div>
</div>


@*@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}*@
